<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-4" align="center">
	      	<a href="http://www.kaleo.org"><img src="../pictures/kaleo.png" style="margin-right: 30px;"></a>
	      	<a href="http://www.ktuh.org"><img src="../pictures/ktuh.png"></a>
	      	<a href="http://www.uhpro.org"><img src="../pictures/uhpro.png" style="margin-left: 30px;"></a>
      		<br style="clear: left;"/>
        	<a href="http://www.kaleo.org/app/smb/SMBstudentapplication.pdf" style="font-style: italic;"><p style="text-align: center;">Download the SMB student Application</p></a>
      </div>
    </div>

  </div>

</footer>
