<header class="site-header">

  <div class="wrapper">
	<div id="smb_title">
    	<a class="site-title" href="{{ site.baseurl }}/"><big>S</big><small>tudent</small> <big>M</big><small>edia</small> <big>B</big><small>oard</small></a>
    </div>
    <div id="smb_logo">
    	<img src="../pictures/smb_logo.png" height="50" width="250">
    </div>
    <nav class="site-nav">
    	<hr>
    	<div id="navigation_container">
    		<div class="rectangle">	
				<ul id="navigation">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/about_us/">About Us</a></li>
					<li><a href="{{ site.baseurl }}/faq/">FAQ</a></li>
					<li><a href="{{ site.baseurl }}/committee/">Committee</a></li>
					<li><a href="{{ site.baseurl }}/documents/">Documents</a></li>
					<li><a href="{{ site.baseurl }}/membership/">Membership</a></li>
					<li><a href="{{ site.baseurl }}/board_members/">Board Members</a></li>
					<li><a href="{{ site.baseurl }}/minutes/">Meeting Minutes</a></li>
				</ul>
			</div>
		</div>
    </nav>

  </div>

</header>
